@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body, html{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 90vw;
    margin: 0 auto;
}

@media only screen and (max-width: 820px) {

    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav > a > img{
        width:100px;
    }

    header > nav > ul{
        margin-left: -15px;
        gap: 20px;
    }

    body .section-1{
        display:flex;
        align-items: baseline;
        flex-direction: column-reverse;
    }

    div.coluna-2 img{
        width: 90vw;
    }

    div.coluna-1{
        display: block;
        width: 90vw;
        margin-top: 20px;

    }

    div.coluna-1 h1{
        width: 90vw;
        text-align: center;
    }

    div.coluna-1 p{
        width: 90vw;
        text-align: justify;
    }
    div.coluna-1 input{
        width: 85vw;
        margin-bottom: 10px;
    }
    .section-1 .coluna-1 button{
        width: 90vw;
        margin-left: 0px;

    }

    body .b-color{
        width: 100vw;
    }

    body .section-2{
        display:flex;
        align-items: baseline;
        flex-direction: column-reverse;
    }

    div.coluna-4 img{
        width: 90vw;
    }

    div.coluna-3{
        display: block;
        width: 90vw;
        margin-top: 20px;

    }

    div.coluna-3 h1{
        width: 90vw;
        text-align: center;
    }

    div.coluna-3 p{
        width: 90vw;
        text-align: justify;
    }

    .coluna-3 div img{
        margin: 0px;
        width: 340px;
        box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.500) ;
    }

    div.curve{
        margin-top: 200px;
        width: 100vw;
    }
    
    div.curve img{
        width: 100vw;
    }

    p.p-link{
        width: 60vw;
    }
    
    p.p-link a{
        width: 60vw;
    }

    div.b-color-2{
        height: 45vh;
    }
    
    div.b-color-2 .section-3{
        width: 90vw;
        height: 45vh;
        background-color: hsl(238, 22%, 44%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .section-3 .itens-1{
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .section-3 .itens-2{
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    div.itens-1 h1{
        color: rgb(255, 255, 255);
        text-align: center;
    
    }
    div.itens-1 p{
        color: rgb(255, 255, 255);
        text-align: center;
    
    }

    div.itens-2 .inp-mail{
        margin: 0 auto;
    }

    div.itens-2 .inp-mail input{
        width: 50vw;
        border-radius: 0px;
    }

    div.itens-2 .btn-mail{
        margin: 0 auto;
    
    }

    div.itens-2 .btn-mail button{
        width: 54vw;
        border-radius: 0px;
    }

    footer.b-color-3{
        height: 110vh;
    }

    section.section-4{
        display: flex;
        flex-direction: column;
        height: 90vh;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 70px;
    }

    div.itens-4{
        width: 50vw;
    }

    div.itens-5{
        width: 50vw;
    }

    div.itens-4 ul li{
        width: 50vw;
    }

    div.itens-5 ul li{
        width: 50vw;
    }

    div.itens-6{
        width: 55vw;
    }

    div.sociais{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1220px){

    div.coluna-1{
        width: 45vw;
    
    }

    div.coluna-1 p{
        text-align: justify;
    }
    
    div.coluna-1 input{
        margin-bottom: 10px;
    }
    
    div.coluna-1 button{
        margin: 0px;
    }
    
    div.curve{
        margin-top: 200px;
        width: 100vw;
    }
    
    div.curve img{
        width: 100vw;
    }

    body .b-color{
        width: 100vw;
    }

    .coluna-3 div img{
        margin-left: -20px;
        box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.500) ;
    }

    div.b-color-2{
        height: 50vh;
    }

    .b-color-2 .section-3{
        width: 90vw;
        height: 40vh;
        
    }


    footer.b-color-3{
        height: 100vh;
    }

    .section-4{
        display: flex;
        flex-direction: row;
        height: 60vh;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 70px;
    }

    div.itens-6{
        width: 55vw;
    }

    div.sociais{
        margin: 0 auto;
    }

    .itens-4 ul{
        width: 15vw;
    }

    .itens-5 ul{
        width: 15vw;
    }
}
h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 50%);
    color: hsl(243, 87%, 21%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 21%);
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
}

nav{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;  
    margin-top: 30px;
}

nav > a > img{
    margin-top: 30px;
}

nav > ul > li > a{
    color: hsl(243, 87%, 12%);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    
}

nav > ul > li > a:hover{
    font-size: 16px;
    font-weight: 700;
}

.section-1{
    margin: 0 auto;
    width:90vw;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.section-1 .coluna-1{
    width: 45vw;

}

.section-1 .coluna-2{
   
    width: 45vw;

}

.section-1 img{
    width:45vw;
}

.section-1 h1{
    line-height: 50px;
    font-size: 2rem;
}


.section-1 input{

    width: 300px;
    padding: 10px;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 4px;
}

.section-1 button{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 37px;
    border-radius: 4px;
    border: transparent;
    background-color: hsl(224, 93%, 58%);
}

.section-1 button:hover{
    background-color:hsl(238, 22%, 44%);
    transition: 0.3s;

}


.curve{
    margin-top: 200px;
    width: 98.5vw;
}

.curve img{
    width: 98.5vw;
}

.section-2{
    margin: 0 auto;
    width:95vw;
    margin-top: -5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.b-color{
    background-color: hsl(240, 75%, 98%);
    width: 98.5vw;
    padding-bottom: 100px;
}

.p-link{
    width: 50vw;
}

.p-link a{
    display: flex;
    width: 23vw;
    color: rgb(3, 77, 3);
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    font-weight: 700;

}

.p-link a::after{
    content: url(images/icon-arrow.svg);
    height: 5px;
}

.p-link a:hover{
    color: greenyellow;
}

.section-2{

    width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    
    background-color: hsl(240, 75%, 98%);
    
}

.coluna-3{
    background-color: hsl(240, 75%, 98%);
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.coluna-3 div{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 25vw;
    height: 35vh;
    padding: 20px;
}

.coluna-4{
    
    width: 45vw;
}

.coluna-4 img{
    width: 45vw;
}

.section-2 h1{
    line-height: 50px;
    font-size: 2rem;
}

.coluna-3 img{
    margin-left: -20px;
    width: 110%;
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.500);
}

.b-color-2{
    background-color: hsl(238, 22%, 44%) ;
    padding-bottom: 20px;
}

.section-3{
    width: 90vw;
    height: 30vh;
    margin: 0 auto;
    background-color: hsl(238, 22%, 44%);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}

.itens-1{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.itens-1 h1{
    color: white;

}

.itens-1 p{
    color: white;

}

.itens-2{
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.itens-2 div input{
    width: 25vw;
    padding: 7px;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 10px;
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.500) ;
}

.itens-2 div button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 37px;
    border-radius: 4px;
    border: transparent;
    background-color: hsl(224, 93%, 58%);
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.500) ;
}
.itens-2 div button:hover{
    background-color:hsl(238, 22%, 44%);
    transition: 0.3s;

}

.b-color-3{
    background-color: hsl(243, 87%, 12%);
    height: 40vh;
}

.section-4{
    margin: 0 auto;
    width: 90vw;
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.itens-3 > img {
    width: 100px;
}

.itens-3 .phone{
    display: flex;
    gap: 10px;
    align-items: center;
}

.itens-3 .phone img{
    width: 15px;
    height: 15px;
}


.itens-3 .phone p{
    color: white;
}

.itens-3 .e-mail{
    display: flex;
    gap: 10px;
    align-items: center;
}

.itens-3 .e-mail img{
    width: 15px;
    height: 15px;
}


.itens-3 .e-mail p{
    color: white;
}

.itens-4 ul{
    list-style: none;
    line-height: 50px;

}

.itens-4 ul li{
    color: white;
    font-family: 'Open Sans', sans-serif;
    
    
}

.itens-4 ul li a{
    font-weight: 600;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}
.itens-4 ul li a:hover{
    color: rgb(35, 35, 131);
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    transition: .3s;

}

.itens-5 ul{
    list-style: none;
    line-height: 50px;

}

.itens-5 ul li{
    color: white;
    font-family: 'Open Sans', sans-serif;
    
    
}

.itens-5 ul li a{
    font-weight: 600;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}
.itens-5 ul li a:hover{
    color: rgb(35, 35, 131);
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    transition: .1s;

}

.sociais{
    text-align: center;
    width: 25vw;
}

.sociais ul{
    display: flex;
    list-style: none;
    gap: 35px;
}

.sociais ul li a img:hover{
    transition: 0.1s;
    width: 40px;

}

