@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 90vw;
    margin: 0 auto;
}

@media (max-width: 720px){

    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav > a > img{
        width:100px;
    }

    header > nav > ul{
        gap: 20px;
    }

    body .section-1{
        display:flex;
        align-items: baseline;
        flex-direction: column-reverse;
    }

    div.coluna-2 img{
        width: 90vw;
    }

    div.coluna-1{
        display: block;
        width: 90vw;
        margin-top: 20px;

    }

    div.coluna-1 h1{
        width: 90vw;
        text-align: center;
    }

    div.coluna-1 p{
        width: 90vw;
        text-align: justify;
    }
    div.coluna-1 input{
        width: 85vw;
        margin-bottom: 10px;
    }
    .section-1 .coluna-1 button{
        width: 90vw;
        margin-left: 0px;

    }

    body .b-color{
        width: 100vw;
    }

    body .section-2{
        display:flex;
        align-items: baseline;
        flex-direction: column-reverse;
    }

    div.coluna-4 img{
        width: 90vw;
    }

    div.coluna-3{
        display: block;
        width: 90vw;
        margin-top: 20px;

    }

    div.coluna-3 h1{
        width: 90vw;
        text-align: center;
    }

    div.coluna-3 p{
        width: 90vw;
        text-align: justify;
    }

    .coluna-3 div img{
        margin: 0px;
        width: 80vw;
        box-shadow: 1px 1px 10px 1px;
    }

    div.curve{
        margin-top: 200px;
        width: 100vw;
    }
    
    div.curve img{
        width: 100vw;
    }
}

@media (max-width: 1020px){

    div.coluna-1{
        width: 45vw;
    
    }

    div.coluna-1 p{
        text-align: justify;
    }
    
    div.coluna-1 input{
        margin-bottom: 10px;
    }
    
    div.coluna-1 button{
        margin: 0px;
    }
    
    div.curve{
        margin-top: 200px;
        width: 100vw;
    }
    
    div.curve img{
        width: 100vw;
    }

    body .b-color{
        width: 100vw;
    }

    .coluna-3 div img{
        width: 110%;
        margin: 0px;
        box-shadow: 1px 1px 10px 1px;
    }
}
h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 50%);
    color: hsl(243, 87%, 21%);
}

p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 50%);
    color: hsl(243, 87%, 21%);
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
}

nav{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;  
    margin-top: 30px;
}

nav > a > img{
    margin-top: 30px;
}

nav > ul > li > a{
    color: hsl(243, 87%, 12%);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    
}

.section-1{
    margin: 0 auto;
    width:90vw;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.section-1 .coluna-1{
    width: 45vw;

}

.section-1 .coluna-2{
   
    width: 45vw;

}

.section-1 img{
    width:45vw;
}

.section-1 h1{
    line-height: 50px;
    font-size: 2rem;
}


.section-1 input{
    width: 300px;
    padding: 10px;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 4px;
}

.section-1 button{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    font-weight: 900;
    color: white;
    width: 200px;
    height: 37px;
    border-radius: 4px;
    border: transparent;
    background-color: hsl(224, 93%, 58%);
}

.section-1 button:hover{
    background-color:hsl(238, 22%, 44%);
    transition: 0.3s;

}


.curve{
    margin-top: 200px;
    width: 98.5vw;
}

.curve img{
    width: 98.5vw;
}

.section-2{
    margin: 0 auto;
    width:95vw;
    margin-top: -5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*------------------------------------------------*/

.b-color{
    background-color: hsl(240, 75%, 98%);
    width: 98.5vw;
}

.p-link a{
    display: flex;
    color: rgb(3, 77, 3);
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    font-weight: 700;

}

.p-link a::after{
    content: url(images/icon-arrow.svg);
    height: 5px;
}

.p-link a:hover{
    color: greenyellow;
}

.section-2{
    width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    
    background-color: hsl(240, 75%, 98%);
    
}

.coluna-3{
    background-color: hsl(240, 75%, 98%);
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.coluna-3 div{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 25vw;
    height: 35vh;
    padding: 20px;
}

.coluna-4{
    
    width: 45vw;
}

.coluna-4 img{
    width: 45vw;
}

.section-2 h1{
    line-height: 50px;
    font-size: 2rem;
}

.coluna-3 img{
    margin-left: -20px;
    width: 110%;
    box-shadow: 1px 1px 10px 1px;
}